/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/


nav {
    text-align: left;
    border: 2px;
    float: right;
}

body 
{
    background-color: whitesmoke; 
}

h1 {
    font-family: "Courier New";
    text-align: center;
}
h2 {
    font-family: "Courier New";
    text-align: center;
}
h3{
    
}
input[type=text], input[type=password], select {
    width: 20%;
    padding: 14px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 3px solid slateblue;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    display: block;
    
}
#LogInForm .LogInButton{
    width: 20%;
    background-color: slateblue;
    color: whitesmoke;
    font-family: "Courier New";
    font-size: large;
    padding: 14px 20px;
    margin: 0px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}