/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    
    text-align: center;
    padding-left: 31.5%;
    border: 2px;
}

body 
{
    background-color: white; 
    padding: 5px;
}

h1 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-align: center;
    margin: auto;
}
h2 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-align: center;
    margin: 5px;
}
h3 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-align: left;
    margin: 10px;
    font-size: x-large;
}

input[type=text], input[type=password], select {
    width: 20%;
    padding: 14px 20px;
    margin: 2.5px 2.5px;
    display: inline-block;
    border: 3px solid slateblue;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    display: block;
}
#LogInForm .LogInButton{
    width: 20%;
    background-color: slateblue;
    color: whitesmoke;
    font-family: "Courier New";
    font-size: large;
    padding: 14px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#RegisterForm .RegisterBtn{
    width: 20%;
    background-color: slateblue;
    color: whitesmoke;
    font-family: "Courier New";
    font-size: large;
    padding: 14px 20px;
    margin: 0px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#UploadForm .UploadBtn{
    width: 20%;
    background-color: slateblue;
    color: whitesmoke;
    font-family: "Courier New";
    font-size: large;
    padding: 14px 20px;
    margin: 0px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#ChooseForm .ChooseBtn{
    width: 20%;
    background-color: slateblue;
    color: whitesmoke;
    font-family: "Courier New";
    font-size: large;
    padding: 14px 20px;
    margin: 0px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    table-align: centre;
    border-collapse: collapse;
    width: 50%;
    margin: 10px;
}

th, td{
    margin-top: 5px;
    padding: 8px;
    text-align: center;
    border-bottom: 3px solid #ddd;
    border-radius: 5px;
}
a{
    text-decoration: none;
}

td:hover {
    background-color: #999999;
}
th:hover{
    background-color: #999999;
}

.grid-item{
    width: 33.33%;
    filter: grayscale(100%);
    margin:0;
    padding: 5px;
}

.grid{
    width: 60%;
    margin: auto;
}

@media (max-width: 300px){
    .grid-item {
        width: 100%
    }
    .grid {
        width: 100%
    }
}
@media (min-width: 300px)  and (max-width: 550px){
    .grid-item {
        width: 50%
    }
    .grid {
        width: 100%;
    }
}
@media (min-width: 550px) and (max-width: 750px){
    .grid-item {
        width: 33.33%
    }
    .grid {
        width: 100%;
    }
}
/*
#Uploads{
    font-family: "Times New Roman", Times, serif;
    text-align: left;
    margin: 5px;
    background-color: red;
}
*/
